{% extends "layout.html" %}
{% block content %}
<title>Chart of Crashes</title>
<h2># of Crashes in Catalonia, Spain from 2001-2011 ... </h2>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart" width="400" height="400"></canvas>

<script>
    const buildChart = (data) => {
        //Convert days of week to labels
        const labels = data.map(d => d.Day_of_Week);
        //Convert crashes to data
        const crashData = data.map(d => d.Number_of_Crashes);
        var option = {
            type: 'bar',
            data: {
                labels,
                datasets: [{
                    label: ['# of crashes'],
                    data: crashData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, option);
        ctx.height = 600;
    };

    //Fetch data, and pass to buildchart
    fetch('/api/v1/crashes')
        .then(response => response.json())
        .then(data => {
            buildChart(data);
        });

</script>
{% endblock %}




<!--//1.Bar graph option using https://css-tricks.com/the-many-ways-of-getting-data-into-charts/-->
<!--<script>-->
<!--function BuildChart(labels, values, chartTitle) {-->
<!--  var ctx = document.getElementById("myChart").getContext('2d');-->
<!--  var myChart = new Chart(ctx, {-->
<!--    type: 'bar',-->
<!--    data: {-->
<!--      labels: Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, // Our labels-->
<!--      datasets: [{-->
<!--        label: Crashes in Catalonia, // Name the series-->
<!--        data: 13664, 17279: 17337, 17394: 17954, 19147: 15714, // Our values-->
<!--        backgroundColor: [ // Specify custom colors-->
<!--          'rgba(255, 99, 132, 0.2)',-->
<!--          'rgba(54, 162, 235, 0.2)',-->
<!--          'rgba(255, 206, 86, 0.2)',-->
<!--          'rgba(75, 192, 192, 0.2)',-->
<!--          'rgba(153, 102, 255, 0.2)',-->
<!--          'rgba(255, 159, 64, 0.2)'-->
<!--        ],-->
<!--        borderColor: [ // Add custom color borders-->
<!--          'rgba(255,99,132,1)',-->
<!--          'rgba(54, 162, 235, 1)',-->
<!--          'rgba(255, 206, 86, 1)',-->
<!--          'rgba(75, 192, 192, 1)',-->
<!--          'rgba(153, 102, 255, 1)',-->
<!--          'rgba(255, 159, 64, 1)'-->
<!--        ],-->
<!--        borderWidth: 1 // Specify bar border width-->
<!--      }]-->
<!--    },-->
<!--    options: {-->
<!--      responsive: true, // Instruct chart js to respond nicely.-->
<!--      maintainAspectRatio: false, // Add to prevent default behavior of full-width/height-->
<!--    }-->
<!--  });-->
<!--  return myChart;-->
<!--}-->
<!--</script>-->


<!--<table class="table" id="dataTable">-->
<!--  <thead>-->
<!--    <th>Day of Week</th>-->
<!--    <th>Number of Crashes</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td>Sunday</td>-->
<!--      <td>13664</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Monday</td>-->
<!--      <td>17279</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Tuesday</td>-->
<!--      <td>17337</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Wednesday</td>-->
<!--      <td>17394</td>-->
<!--    </tr>-->
<!--      <tr>-->
<!--      <td>Thursday</td>-->
<!--      <td>17954</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Friday</td>-->
<!--      <td>19147</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Saturday</td>-->
<!--      <td>15714</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<div class="chart">-->
<!--  <canvas id="myChart"></canvas>-->
<!--</div>-->

<!--<script>-->
<!--var table = document.getElementById('dataTable');-->
<!--var json = []]; // First row needs to be headers-->
<!--var headers =[];-->
<!--for (var i = 0; i < table.rows[0].cells.length; i++) {-->
<!--  headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');-->
<!--}-->

<!--// Go through cells-->
<!--for (var i = 1; i < table.rows.length; i++) {-->
<!--  var tableRow = table.rows[i];-->
<!--  var rowData = {};-->
<!--  for (var j = 0; j < tableRow.cells.length; j++) {-->
<!--    rowData[headers[j]] = tableRow.cells[j].innerHTML;-->
<!--  }-->
<!--  json.push(rowData);-->
<!--}-->
<!--console.log(json);-->


<!--// Map JSON values back to label array-->
<!--var labels = json.map(function (e) {-->
<!--  return e.Day_of_Week;-->
<!--});-->
<!--console.log(labels); // ["2016", "2017", "2018", "2019"]-->

<!--// Map JSON values back to values array-->
<!--var values = json.map(function (e) {-->
<!--  return e.Number_of_Crashes;-->
<!--});-->
<!--console.log(values); // ["10", "25", "55", "120"]-->
<!--var chart = BuildChart(labels, values, "Number of Crashes in Catalonia");-->
<!--</script>-->



<!--//2.another bar graph option -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>-->
<!--<canvas id="canvas"></canvas>-->

<!--<script>-->
<!--var jsonfile = {-->
<!--   "jsonarray": [{-->
<!--      "Day of Week": "Sunday",-->
<!--      "Number of Crashes": 13664-->
<!--   }, {-->
<!--      "Day of Week": "Saturday",-->
<!--      "Number of Crashes": 15714-->
<!--   }]-->
<!--};-->

<!--var labels = jsonfile.jsonarray.map(function(e) {-->
<!--   return e.Day_of_Week;-->
<!--});-->
<!--var data = jsonfile.jsonarray.map(function(e) {-->
<!--   return e.Number_of_Crashes;-->
<!--});;-->

<!--var ctx = canvas.getContext('2d');-->
<!--var config = {-->
<!--   type: 'bar',-->
<!--   data: {-->
<!--      labels: labels,-->
<!--      datasets: [{-->
<!--         label: 'Graph Bar',-->
<!--         data: data,-->
<!--         backgroundColor: [-->
<!--                'rgba(255, 99, 132, 0.2)',-->
<!--                'rgba(54, 162, 235, 0.2)',-->
<!--                'rgba(255, 206, 86, 0.2)',-->
<!--                'rgba(75, 192, 192, 0.2)',-->
<!--                'rgba(153, 102, 255, 0.2)',-->
<!--                'rgba(255, 159, 64, 0.2)'-->
<!--         ],-->
<!--          borderColor: [-->
<!--                'rgba(255, 99, 132, 1)',-->
<!--                'rgba(54, 162, 235, 1)',-->
<!--                'rgba(255, 206, 86, 1)',-->
<!--                'rgba(75, 192, 192, 1)',-->
<!--                'rgba(153, 102, 255, 1)',-->
<!--                'rgba(255, 159, 64, 1)'-->
<!--          ],-->
<!--          borderWidth: 1-->
<!--      }]-->
<!--   },-->
<!--    options: {-->
<!--        scales: {-->
<!--            y: {-->
<!--                beginAtZero: true-->
<!--            }-->
<!--        }-->
<!--    }}-->
<!--var chart = new Chart(ctx, config);-->

<!--</script>-->
